
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save_DB</title>
</head>
<body>
    <div> 
        Success!
    </div>
</body>
</html>
